* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100vh;
  padding: .5rem;

  .projects {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-grow: 1;
    gap: .5rem;
  }
}